# CITEC Tecnical Test

In [249]:
#Libraries
from ucimlrepo import fetch_ucirepo 
import pandas as pd

In [250]:
#Download data
online_retail = fetch_ucirepo(id=352)

## Exploring data structure

In [251]:
#Exploring data structure
print(f'Type of online_retail: {type(online_retail)}')
print(f'Keys: {online_retail.keys()}')

Type of online_retail: <class 'ucimlrepo.dotdict.dotdict'>
Keys: dict_keys(['data', 'metadata', 'variables'])

### Metadata

In [252]:
metadata = online_retail.metadata
metadata

{'uci_id': 352,
 'name': 'Online Retail',
 'repository_url': 'https://archive.ics.uci.edu/dataset/352/online+retail',
 'data_url': 'https://archive.ics.uci.edu/static/public/352/data.csv',
 'abstract': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.',
 'area': 'Business',
 'tasks': ['Classification', 'Clustering'],
 'characteristics': ['Multivariate', 'Sequential', 'Time-Series'],
 'num_instances': 541909,
 'num_features': 6,
 'feature_types': ['Integer', 'Real'],
 'demographics': [],
 'target_col': None,
 'index_col': ['InvoiceNo', 'StockCode'],
 'has_missing_values': 'no',
 'missing_values_symbol': None,
 'year_of_dataset_creation': 2015,
 'last_updated': 'Fri Jan 05 2024',
 'dataset_doi': '10.24432/C5BW33',
 'creators': ['Daqing Chen'],
 'intro_paper': {'title': 'Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining',
  'authors': 'Daqing Chen, Sai Laing Sain, Kun Guo',
  'published_in': 'Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3',
  'year': 2012,
  'url': 'https://www.semanticscholar.org/paper/e43a5a90fa33d419df42e485099f8f08badf2149',
  'doi': '10.1057/dbm.2012.17'},
 'additional_info': {'summary': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.',
  'purpose': None,
  'funded_by': None,
  'instances_represent': None,
  'recommended_data_splits': None,
  'sensitive_data': None,
  'preprocessing_description': None,
  'variable_info': "InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. \nStockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.\nDescription: Product (item) name. Nominal.\nQuantity: The quantities of each product (item) per transaction. Numeric.\t\nInvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated.\nUnitPrice: Unit price. Numeric, Product price per unit in sterling.\nCustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.\nCountry: Country name. Nominal, the name of the country where each customer resides. ",
  'citation': None}}

### Variables

In [253]:
variables = online_retail.variables
variables

,name,role,type,demographic,description,units,missing_values
0,InvoiceNo,ID,Categorical,None,a 6-digit integral number uniquely assigned to...,None,no
1,StockCode,ID,Categorical,None,a 5-digit integral number uniquely assigned to...,None,no
2,Description,Feature,Categorical,None,product name,None,no
3,Quantity,Feature,Integer,None,the quantities of each product (item) per tran...,None,no
4,InvoiceDate,Feature,Date,None,the day and time when each transaction was gen...,None,no
5,UnitPrice,Feature,Continuous,None,product price per unit,sterling,no
6,CustomerID,Feature,Categorical,None,a 5-digit integral number uniquely assigned to...,None,no
7,Country,Feature,Categorical,None,the name of the country where each customer re...,None,no

In [254]:
print(variables.iloc[0]['description'])

a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation

### Data

In [255]:
#Exploring data
print(f'Type of data key: {type(online_retail.data)}')
print(f'Keys: {online_retail.data.keys()}')
data = online_retail.data

Type of data key: <class 'ucimlrepo.dotdict.dotdict'>
Keys: dict_keys(['ids', 'features', 'targets', 'original', 'headers'])

#### Ids

In [256]:
ids = data.ids
ids

       InvoiceNo StockCode
0         536365    85123A
1         536365     71053
2         536365    84406B
3         536365    84029G
4         536365    84029E
...          ...       ...
541904    581587     22613
541905    581587     22899
541906    581587     23254
541907    581587     23255
541908    581587     22138

[541909 rows x 2 columns]

#### Features

In [257]:
features = data.features
features

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...
541904,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

#### Target

In [258]:
target = data.targets
target

#### Original

In [259]:
original = data.original
original

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

#### Headers

In [260]:
headers = data.headers
headers

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

#### Exploring Data 

By looking at the information in the repository, it is known that there are two dataframes. The first dataframe is the original, and the second one contains only the features. However, it will be checked if the information in one matches the other, in order to work with just one, or to determine if an additional step is necessary.

In [261]:
if original[['Description', 'Quantity','InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']].equals(features):
    print("Data is equal")
else:
    print("Data is not equal")

Data is equal

In the results, it can be observed that the data are identical in both dataframes. However, the original dataframe will be used to conduct the exploratory data analysis

## Exploratory Data Analysis (EDA)

The exploratory analysis begins by verifying the variables that exist and if all the data is complete

In [262]:
original['InvoiceNo'] = original['InvoiceNo'].str.strip()
original['StockCode'] = original['StockCode'].str.strip()
original['Description'] = original['Description'].str.strip()
original['Country'] = original['Country'].str.strip()

#Create a copy of the dataframe
original_copy = original.copy()

In [263]:
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [264]:
original.dropna(subset=['CustomerID'], inplace=True)

In [265]:
non_null_counts = original.notnull().sum()
total_counts = len(original)

null_counts = total_counts - non_null_counts

result = pd.DataFrame({'Total': total_counts, 'Non-Null': non_null_counts, 'Null': null_counts})
result

              Total  Non-Null  Null
InvoiceNo    406829    406829     0
StockCode    406829    406829     0
Description  406829    406829     0
Quantity     406829    406829     0
InvoiceDate  406829    406829     0
UnitPrice    406829    406829     0
CustomerID   406829    406829     0
Country      406829    406829     0

It can be observed that there are 1,454 records without a description. However, according to the documentation, it is known that this description refers to the product name, which is associated with a unique product code that we will use to complete the fields

In [266]:
#Get null data associated to Description column
null_data = original[original['Description'].isnull()]
null_data

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [267]:
#Get the unique stock codes that exist
unique_stock_codes = original['StockCode'].nunique()
print(f"Total of different StockCodes: {unique_stock_codes}")

Total of different StockCodes: 3684

In [268]:
#Creating a dictionary with the stock codes related to the description or product name
stockcode_to_description = original.dropna(subset=['Description']).drop_duplicates('StockCode').set_index('StockCode')['Description'].to_dict()

In [269]:
print(f'Total different stockcode by description: {len(stockcode_to_description)}')

Total different stockcode by description: 3684

In [270]:
#Complete the Description data
original['Description'] = original.apply(
    lambda row: stockcode_to_description.get(row['StockCode']) if pd.isnull(row['Description']) else row['Description'],
    axis=1
)

In [271]:
row_by_index_value = original.loc[1971]
row_by_index_value

KeyError: 1971

In [ ]:
filtered_rows = original[original['StockCode'] == '22145']
print(filtered_rows)

      InvoiceNo StockCode                     Description  Quantity  \
1971     536546     22145  CHRISTMAS CRAFT HEART STOCKING         1
19025    537827     22145  CHRISTMAS CRAFT HEART STOCKING        30
20392    538041     22145  CHRISTMAS CRAFT HEART STOCKING        30

           InvoiceDate  UnitPrice  CustomerID         Country
1971   12/1/2010 14:33        0.0         NaN  United Kingdom
19025  12/8/2010 14:43        2.1     15332.0       Lithuania
20392  12/9/2010 13:09        0.0         NaN  United Kingdom

In [ ]:
non_null_counts = original.notnull().sum()
total_counts = len(original)

null_counts = total_counts - non_null_counts

result = pd.DataFrame({'Total': total_counts, 'Non-Null': non_null_counts, 'Null': null_counts})
result

              Total  Non-Null    Null
InvoiceNo    541909    541909       0
StockCode    541909    541909       0
Description  541909    541797     112
Quantity     541909    541909       0
InvoiceDate  541909    541909       0
UnitPrice    541909    541909       0
CustomerID   541909    406829  135080
Country      541909    541909       0

Some data in the 'Description' column has already been completed. Now, the missing data in the 'CustomerID' column will be addressed.
To attempt to complete the CustomerID data, the approach will be to use records with the same InvoiceNo that do have a CustomerID to fill in the missing values.

In [ ]:
#Creating a dictionary with the InvoiceNo
invoice_to_customer = original.dropna(subset=['CustomerID']).drop_duplicates('InvoiceNo').set_index('InvoiceNo')['CustomerID'].to_dict()

In [ ]:
#Complete the customerID based on the InvoiceNo
def fill_customer_id(row):
    if pd.isnull(row['CustomerID']):
        return invoice_to_customer.get(row['InvoiceNo'])
    else:
        return row['CustomerID']

original['CustomerID'] = original.apply(fill_customer_id, axis=1)

In [ ]:
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541797 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [ ]:
non_null_counts = original.notnull().sum()
total_counts = len(original)

null_counts = total_counts - non_null_counts

result = pd.DataFrame({'Total': total_counts, 'Non-Null': non_null_counts, 'Null': null_counts})
result

              Total  Non-Null    Null
InvoiceNo    541909    541909       0
StockCode    541909    541909       0
Description  541909    541797     112
Quantity     541909    541909       0
InvoiceDate  541909    541909       0
UnitPrice    541909    541909       0
CustomerID   541909    406829  135080
Country      541909    541909       0

Given that there are values that could not be completed with the executed strategy, they will be removed as the intention is to perform an analysis of customer behavior over time. Since this data is missing, it will not be possible to find relationships with other records, which would only introduce a significant bias.

In [ ]:
original.dropna(subset=['CustomerID'], inplace=True)

In [ ]:
original.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB